* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
header{
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 70px;
    width: 100%;
	background: #1E1F25;
    display: flex;
    align-items: center;
}
/* ul{
	display: flex;
	width: 15%;

	max-width: 100px;
	justify-content: space-between;
	text-align: center;
} */
.menu {
flex-grow: 1;
display: flex;
justify-content: flex-start;
}

.center-menu {
flex-grow: 1;
display: flex;
justify-content: center;

}

.right-menu {
display: flex; 
justify-content: flex-end;
align-items: baseline;
}

.right-menu p{
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    color: #ebebeb;
}

.center-menu p{
  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  font-size: large;
  color: #eb6951;
}

    
li a {
    text-decoration: none;
    color: #ebebeb;
}

.menu li,
.center-menu li,
.right-menu li{
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
}


li img{
  fill:#ebebeb;
}

li:hover {
  background-image: url('/ressources/img/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
	font-weight: bold;
}
li:hover img{
  fill:#27262c;
}
li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}