* {
	margin: 0;
	padding: 0;
	/* list-style-type: none; */
}

/* menu section */
header{
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 70px;
    width: 100%;
	  background: #1E1F25;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header li {
  list-style-type: none;
}
.menu {
list-style-type: none;
}

article{
  padding-top: 70px;
}


.center-menu p{
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: large;
  color: #eb6951;
}

.right-menu p{
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    color: #ebebeb;
}

.menu li, .right-menu li {
  /* display: inline-block; */
  margin-right: 10px;
}

.right-menu {
  text-align: right;
}
    
.menu li a {
    text-decoration: none;
    color: #ebebeb;
}

.menu li,
.center-menu li,
.right-menu li{
    padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
}



.menu li:hover,
.center-menu li:hover,
.right-menu li:hover {
  background-image: url('/ressources/img/button.png');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
	font-weight: bold;
}
.menu li:active,
.center-menu li:active,
.right-menu li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}

/* search button*/
/* Source: https://uiverse.io/garerim/rare-moth-56 */
.container-input {
  position: relative;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 250px;
}

/* search button end */


#SearchResults {
  color: red;

}

/* Search section  */
#searchResults {
  margin-top: 70px;

}

/* remove button*/
.div_search_header {
  display: flex;
  justify-content: end;
}
/*Source : https://uiverse.io/vinodjangid07/smart-emu-83*/

.remove_button {
  width: 50px;
  height: 50px;
  right: auto;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.remove_button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.remove_button:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.remove_button::before {
  position: absolute;
  top: -20px;
  content: "Clean";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.remove_button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
/*end remove button*/


/*
card
source : @Prince4fff
https://uiverse.io/Prince4fff/slippery-baboon-37
*/
.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}

.card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  /* max-width: 262px; */
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(54);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(2.150);
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3 .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}

.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4 .go-corner {
  background-color: #00838d;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4:hover {
  border: 1px solid #cd3d73;
}

.card4 h3 {
  margin-top: 8px;
}

.card4:hover .go-corner {
  margin-right: -12px;
}

.card4:hover .go-arrow {
  opacity: 1;
}
/* card end */
/* search result end*/

/* Custom css for array */
table {
  margin: auto;
  color:white;
}

.tableblock{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tableblock td, .tableblock th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tableblock tr:nth-child(even){background-color: #f2f2f2 ;}

.tableblock tr:hover {
  background-color: #d9d6d68e !important;
  color: black}

.tableblock th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eb6951;
  color: white;
}





.admonitionblock {
  padding: 9 5% 25 5%;
}

 .admonitionblock>table td.icon {
  text-align: center;
  width: 120px;
}

.admonitionblock>table {
  /* border-collapse: separate !important; */
  background: none;
  display: table;
  width: 100% !important;
  box-shadow: 5px 3px 1px 0.5px #6d6767;
}

.admonitionblock>table td{
  padding: 25px 0 25px 0;
  border: 0 ; 

}

.admonitionblock .content{
  font: italic 1.1em "Segoe UI", serif;
  color:#111113;
}

.admonitionblock>table tr{
  /* border: 0 !important; */
  background: #f8f8f6;
  border-radius: 20px !important;
}


.admonitionblock>table td.icon .title {
  font-weight: bold;
  font-family: "Open Sans","DejaVu Sans",sans-serif;
  text-transform: uppercase;
}

.warning>table tr{
  border-left: 1mm solid #d21309 !important;
}

.warning>table td.icon .title {
  color: #d21309;
}


.note>table tr{
  border-left: 1mm solid #0aa4dc !important;
}

.note>table td.icon .title {
  color: #0aa4dc;
}


.tip>table tr{
  border-left: 1mm solid #09d31a !important;
}

.tip>table td.icon .title {
  color: #09d31a;
}

.important>table tr{
  border-left: 1mm solid #110adc !important;
}

.important>table td.icon .title {
  color: #110adc;
}

.caution>table tr{
  border-left: 1mm solid #d26d09 !important;
}

.caution>table td.icon .title {
  color: #d26d09;
}

.hdlist>table {
  background: none;
  display: table;
  width: 100% !important;
}

.hdlist>table .hdlist1{
  font: small-caps bold 20px/1 serif;
}

.hdlist>table .hdlist2{
  font: Georgia, serif;
}

a.red{
  color: red !important;
}

a.green{
  color: green !important;
}

a.white{
  color: white !important;
}

a.blue{
  color: blue !important;
}

a.yellow{
  color: yellow !important;
}

.sidebarblock{
  background-color: #fffecbf0;
  border-radius: 7px;
  color: #151515;
  margin-bottom: 15px;
  padding: 20px;
}

div.sidebarblock .title:first-child{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}