<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    $css
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"> -->
    <script src="/ressources/js/prism.js"></script>
  </head>
  <body>
    <header style="position: fixed; z-index: 100; top: 0; left: 0; width: 100%; padding: 10px;">
      <ul class="menu">
        <li onclick="goBack()" >Back </li>
      </ul>
      <ul class="center-menu">
        <p>Markdown view </p>
        <div class="container-input">
          <input type="text" placeholder="Search >help" name="text" class="input" id="searchQuery" >
          <svg id="magnifier" fill="#000000" width="20px" height="20px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
            <path d="M790.588 1468.235c-373.722 0-677.647-303.924-677.647-677.647 0-373.722 303.925-677.647 677.647-677.647 373.723 0 677.647 303.925 677.647 677.647 0 373.723-303.924 677.647-677.647 677.647Zm596.781-160.715c120.396-138.692 193.807-319.285 193.807-516.932C1581.176 354.748 1226.428 0 790.588 0S0 354.748 0 790.588s354.748 790.588 790.588 790.588c197.647 0 378.24-73.411 516.932-193.807l516.028 516.142 79.963-79.963-516.142-516.028Z" fill-rule="evenodd"></path>
        </svg>
        </div>
      </ul>
      <ul class="right-menu">
        <li onclick="goMindmap()" id="mapButton" >Switch to Map</li>
      </ul>
    </header>

    <div id="searchResults"  >
    </div>
    <script src="/ressources/js/script.js"></script>
    <script>
        // Récupérer le nom de la page courante
        var currentPage = window.location.pathname.split("/").pop();

        // Vérifier si la page courante est "index.html"
        if (currentPage === "index.html") {
        // Modifier le lien retour vers "../index.html"
        var linkElement = document.getElementById("retour");
        linkElement.href = "../index.html";
        }
    </script>
    <article class="markdown-body">
      $md
    </article>

  </body>
</html>